
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{margin: 0%; padding: 0%; box-sizing: border-box; font-family: 'Poppins', sans-serif;}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('pexels-emiliano-arano-1350197.jpg');
}
nav{
    background-color: #1515a3;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .Logo p{
    color: #fff;
    font-size: 35px;
    position: relative;
}
.sub-titulo{
    color: #fff;
    position: relative;
    right: 380px;
    font-size: 35px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style:none ;
    padding: 10px;
}
nav li{
    margin-left: 10px;
}
nav li a {
    text-decoration: double;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 60px;
    border-radius: 7px;
    transition: 0.3s;
}
ul li.active a{
    color: #1515a3;
    background-color: #fff;
}
ul li.active2 a{
    color: #1515a3;
    background-color: #fff;
}
ul li.active3 a{
    color: #1515a3;
    background-color: #fff;
}
ul li.active4 a{
    color: #1515a3;
    background-color: #fff;
}
ul li.active5 a{
    color: #1515a3;
    background-color: #fff;
}
nav li a:hover{
    color: #1515a3;
    background-color: white;
}

.banner{
   height: 100vh;
   background: linear-gradient(rgba(0,0,0,0.201),rgba(0,0,0,0.308),url('pexels-emiliano-arano-1350197.jpg'));
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.texto .titulo{
    color: #fff;
    font-size: 60px;
    font-weight: 600;
}
.texto .sub_titulo{
    color: #fff;
    font-size: 45px;
    font-weight: 600;    
}
.texto .botao {
    margin-top: 30px;
    
}
.botao a{
    text-decoration: double;
    color: blue;
    background: none;
    height: 75px;
    width: 190px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 20px;
    border: 5px solid white;
    font-weight: 500;
    background: white;
    padding: 0 10px;
    outline: none;
    transition: 0.3s;
}
.botao a:hover{
    color: white;
    background: none;
    height: 75px;
    width: 190px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 20px;
    border: 5px solid blue;
    font-weight: 500;
    background: blue;
    padding: 0 10px;
    outline: none;
    transition: 0.3s;
}
.robotica{
    color: rgb(22, 55, 241);
    position: relative;
    top: 110px;
    left: 830px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 12px;
}
.infor{
    color: rgb(22, 55, 241);
    position: relative;
    top: 130px;
    left: 770px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 12px;
}
.img2 img{
    position: relative;
    left: 1000px;
    top: -360px;
    border: 6px solid rgb(120, 118, 241);
}
.img1 img{
   position: relative;
   left: 130px;
   top: -750px;
   border: 6px solid rgb(120, 118, 241);
}
.img3 img{
   position: relative;
   left: 110px;
}
.leg1 h3{
    color: #000000;
    background-color: #ffffff;
    width: 290px;
    border-radius: 10px;
    position: relative;
    left: 100px;
    top: 45px;
    font-size: 15px;
    border: 1px solid white;
    padding: 4px;
}
.git p{
    font-size: 20px;
    background-color: #ffffff;
    color: black;
    width: 500px;
    height: 230px;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    left: 100px;
    border: 5px black solid;
}
.box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(5, 5, 5, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}
fieldset{
    border: 3px solid rgb(0, 128, 255);
}
legend{
    border: 1px solid rgb(0, 128, 255);
    padding: 10px;
    text-align: center;
    background-color: rgb(1, 47, 255);
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: rgb(0, 110, 255);
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-image: linear-gradient(to right,rgb(0, 110, 236), rgb(89, 0, 255));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(89, 0, 255));
}
.projetos ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 45px;
}
 .projetos p{
    color: #1515a3;
    background-color: #fff;
    width: 200px;
    padding: 15px;
    border: 5px solid rgb(140, 140, 244);

}
.projetos2 ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 65px;
}
.projetos2 p{
    color: #1515a3;
    background-color: #fff;
    width: 200px;
    padding: 15px;
    border: 5px solid rgb(140, 140, 244);
}
.tema h1{
    color: #fff;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    top: 200px;
    left: 700px;
    background-color: #1515a3;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
}
.icones ul{
    list-style: none;
    display: flex;
    align-items: baseline;
    position: relative;
    top: -700px;
    left: 740px;
}
.projetos3 a{
    color: #fff;
    position: relative;
    left: 650px;
    top: 50px;
}
.min1{
    color: #fff;
    text-align: justify;
    border: 1px white solid;
    background-color: #1515a3;
    width: 400px;
    position: relative;
    padding: 10px;
    left: 480px;
    top: 100px;
}
.min2{
    color: #fff;
    text-align: justify;
    border: 1px white solid;
    background-color: #1515a3;
    width: 400px;
    position: relative;
    left: 1390px;
    padding: 10px;
    top: -160px;
    
}
.projetos3 ul{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 125px;
}
.projetos3 p{
    color: #1515a3;
    background-color: #fff;
    width: 200px;
    padding: 15px;
    border: 5px solid rgb(140, 140, 244);
    text-align: center;
    position: relative;
    left: 50px;
    font-size: 15px;
}
h4{
    color: rgb(75, 75, 247) ;
    border: 1px solid white;
    background-color: white;
    width: 480px;
    font-size: 16px;
    position: relative;
    top: 210px;
    left: 740px;
    padding: 10px;
    border-radius: 6px;
}
.links a{
    color: rgb(69, 69, 248);
    text-decoration: none;
    position: relative;
    border: 1px solid white;
    background-color: white;
    font-size: 15px;
    border-radius: 4px;
    top: 50px;
    left: 1690px;
    padding: 5px;
}
.links3 a{
    color: rgb(69, 69, 248);
    text-decoration: none;
    position: relative;
    border: 1px solid white;
    background-color: white;

    border-radius: 4px;
    font-size: 15px;
    top: 190px;
    left: 1690px;
    padding: 5px; 
}
.projetos4 ul{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 230px;
}
.projetos4 p{
    color: #1515a3;
    background-color: #fff;
    width: 200px;
    padding: 15px;
    border: 5px solid rgb(140, 140, 244);
    text-align: justify;
    position: relative;
    font-size: 15px;
    left: 2px;
    top: 10px;
}
.linkgit a{
    color: rgb(0, 0, 0);
    text-decoration: double;
    border: 1px solid white;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    top: 100px;
    left: 100px;
    font-size: 22px;
    padding: 13px;
    width: 100px;
}
.rauldados a{
    color: #0b53f0;
    position: relative;
    top: -905px;
    left: 500px;
    text-decoration: double;
    border: 1px white solid;
    background-color: #fff;
    width: 200px;
    padding: 5px;
}
.rauldados p{
    color: #193fe6;
    position: relative;
    top: -815px;
    left: 500px;
    border: 1px white solid;
    width: 140px;
    background-color: #fff;
    padding: 5px;
}
.pedrodados a{
    color: #0b53f0;
    position: relative;
    top: -1050px;
    left: 1405px;
    text-decoration: double;
    border: 1px white solid;
    background-color: #fff;
    padding: 4px;
}
.pedrodados p{
    color: #193fe6;
    position: relative;
    top: -960px;
    left: 1405px;
    border: 1px white solid;
    width: 140px;
    background-color: #fff;
    padding: 3px;

}
.sobre3h5{
    color: rgb(75, 75, 247) ;
    border: 1px solid white;
    background-color: white;
    width: 450px;
    font-size: 20px;
    position: relative;
    top: 290px;
    left: 730px;
    padding: 10px;
    border-radius: 6px;
    text-align: justify;
}
.sobre4 p{
    color: rgb(61, 61, 236);
    position: relative;
    border: 1px solid white;
    background-color: #fff;
    width: 210px;
    top: 50px;
    left: 850px;
    font-size: 25px;
    border-radius: 6px;
    text-align: center;
}
.projetos5 ul{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 130px;
}
.projetos5 p{
    color: #1515a3;
    background-color: #fff;
    width: 600px;
    padding: 15px;
    border: 5px solid rgb(140, 140, 244);
    text-align: justify;
    position: relative;
    font-size: 16px;
    right: 70px;
    top: 10px; 
}
.sobre5 p{
    color: rgb(61, 61, 236);
    position: relative;
    border: 1px solid white;
    background-color: #fff;
    width: 210px;
    top: 50px;
    left: 830px;
    font-size: 20px;
    border-radius: 6px;
    text-align: center;
    
}
.projetos5 ul{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 130px;
    left: 80px;
}
nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
}
@media (max-width: 1820px) {
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #0b53f0;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }

    nav ul li a{
        font-size: 23px;
    }
    nav ul li.active a,
    nav ul li.active3 a,
    nav li a:hover{
    background: none;
    color: #eeeef5;
    font-size: 20px;
    display: block;
    }
    }
    nav .menu-btn2 i{
        color: #fff;
        cursor: pointer;
        display: none;
    }
    @media (max-width: 1820px) {
        nav .menu-btn2 i{
            display: block;
        }
        nav ul{
            position: fixed;
            top: 80px;
            left: -100%;
            background-color: #0b53f0;
            height: 100vh;
            width: 100%;
            text-align: center;
            display: block;
            transition: all 0.3s ease;
        }
        nav ul.open{
            left: 0;
        }
        nav ul li{
            width: 100%;
            margin: 50px 0;
        }
    
        nav ul li a{
            font-size: 23px;
        }
        nav ul li.active a,
        nav ul li.active3 a,
        nav li a:hover{
        background: none;
        color: #eeeef5;
        font-size: 20px;
        display: block;
        }
        }
        .oi2{
            color: #fcfcfc;
            position: relative;
            right: 320px;
            font-size: 35px;
        }
        .oi3{
            color: #fcfcfc;
            position: relative;
            right: 320px;
            font-size: 35px;
        }
      
        
        
    
    
 